<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>/pan</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>master01</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>knife</string>
		<string>measure</string>
		<string>pan</string>
		<string>pen</string>
		<string>pencil</string>
		<string>select</string>
		<string>shapes</string>
		<string>text</string>
		<string>zoom</string>
		<string>vws</string>
		<string>anchor</string>
		<string>pap</string>
		<string>openeye</string>
		<string>closedeye</string>
		<string>minus</string>
		<string>plus</string>
		<string>left</string>
		<string>down</string>
		<string>up</string>
		<string>right</string>
		<string>rename</string>
		<string>union</string>
		<string>combine</string>
		<string>difference</string>
		<string>intersection</string>
		<string>xor</string>
		<string>venn</string>
		<string>image</string>
		<string>layers</string>
		<string>confirm</string>
		<string>reject</string>
		<string>save</string>
		<string>export</string>
		<string>squiggle</string>
		<string>refresh</string>
		<string>delete</string>
		<string>settings</string>
		<string>copy</string>
		<string>cut</string>
		<string>paste</string>
		<string>grid</string>
		<string>guidelines</string>
		<string>hyperbezier</string>
		<string>quadpen</string>
		<string>bsplinepen</string>
		<string>spiropen</string>
		<string>dash</string>
		<string>globe</string>
		<string>ufo</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>anchor</key>
		<string>uniF00A</string>
		<key>bsplinepen</key>
		<string>uniF033</string>
		<key>closedeye</key>
		<string>uniF00D</string>
		<key>combine</key>
		<string>uniF017</string>
		<key>confirm</key>
		<string>uniF01E</string>
		<key>copy</key>
		<string>uniF026</string>
		<key>cut</key>
		<string>uniF027</string>
		<key>dash</key>
		<string>uniF035</string>
		<key>delete</key>
		<string>uniF024</string>
		<key>difference</key>
		<string>uniF018</string>
		<key>down</key>
		<string>uniF011</string>
		<key>export</key>
		<string>uniF021</string>
		<key>globe</key>
		<string>uniF036</string>
		<key>grid</key>
		<string>uniF029</string>
		<key>guidelines</key>
		<string>uniF030</string>
		<key>hyperbezier</key>
		<string>uniF031</string>
		<key>image</key>
		<string>uniF01C</string>
		<key>intersection</key>
		<string>uniF019</string>
		<key>knife</key>
		<string>uniF000</string>
		<key>layers</key>
		<string>uniF01D</string>
		<key>left</key>
		<string>uniF010</string>
		<key>measure</key>
		<string>uniF001</string>
		<key>minus</key>
		<string>uniF00E</string>
		<key>openeye</key>
		<string>uniF00C</string>
		<key>pan</key>
		<string>uniF002</string>
		<key>pap</key>
		<string>uniF00B</string>
		<key>paste</key>
		<string>uniF028</string>
		<key>pen</key>
		<string>uniF003</string>
		<key>pencil</key>
		<string>uniF004</string>
		<key>plus</key>
		<string>uniF00F</string>
		<key>quadpen</key>
		<string>uniF032</string>
		<key>refresh</key>
		<string>uniF023</string>
		<key>reject</key>
		<string>uniF01F</string>
		<key>rename</key>
		<string>uniF015</string>
		<key>right</key>
		<string>uniF014</string>
		<key>save</key>
		<string>uniF020</string>
		<key>select</key>
		<string>uniF005</string>
		<key>settings</key>
		<string>uniF025</string>
		<key>shapes</key>
		<string>uniF006</string>
		<key>spiropen</key>
		<string>uniF034</string>
		<key>squiggle</key>
		<string>uniF022</string>
		<key>text</key>
		<string>uniF007</string>
		<key>ufo</key>
		<string>uniF037</string>
		<key>union</key>
		<string>uniF016</string>
		<key>up</key>
		<string>uniF012</string>
		<key>venn</key>
		<string>uniF01B</string>
		<key>vws</key>
		<string>uniF009</string>
		<key>xor</key>
		<string>uniF01A</string>
		<key>zoom</key>
		<string>uniF008</string>
	</dict>
</dict>
</plist>
